@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');



body {
  font-size: 15px;
  background-color: #dceefc !important;
}

header {
    padding-bottom: 20px;
    box-shadow: 3px 3px 15px black;
}

header h1.logo-text {
  font-family: 'Pixelify Sans';
  font-size: 25px;
  position: absolute;
  top: 38px;
  left: 140px;
  
}

header .logo {
    width: auto;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
  }
  
#welcome-section {
    position: relative;
    background-image: url('business-a.jpg');
    background-size: 2100px;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    z-index: 0;
}

#welcome-section h1{
    position: absolute;
    color:white;
    width: 50%;
    top: 180px;
    left: 100px;
    z-index: 2;
}



#welcome-section #black-shade{
    background-color: black;
    width: 100%;
    height: 600px;
    left: 0;
    opacity: 0.7;
    z-index: 1;
    
}



.cards {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 100px;
    margin-bottom: 200px;
}

.nav-cards {
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    right: 0px;
    border: 2px black solid;
}



.html-card:hover {
    background-color: black;
    transform: scale(0.7);
    transition: 1100ms;
}

.css-card:hover {
    background-color: black;
    transform: scale(0.7);
    transition: 1100ms;
}

.js-card:hover {
    background-color: black;
    transform: scale(0.7);
    transition: 1100ms;
}

header #logout {
    position: absolute;
    top: 35px;
    right: 10px;
    font-size: 35px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    border: 3px darkgrey solid;
    transition: 0.4s ease-in-out;

}

header #logout:hover {
    cursor: pointer;
    top: 25px;
    background-color: red;
    color: white;
    border: 2px black solid;

}

.user-stats {
    position: relative;
    background-color: white;
    margin: auto !important;
    padding-bottom: 150px;
    border: black 2px solid;
    border-radius: 10px;
}

.user-stats #quizcount {
    margin: auto;
}

.user-stats .user-data {
    display: flex;
    justify-content: space-around;

}

#arrowLeft {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#arrowRight {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#arrowLeft:hover {
    font-size: 50px;
}

#arrowRight:hover {
    font-size: 50px;
}

.option-select {
    overflow-x: hidden;
    
}

.mvment {
    transition: 0.3s ease-in-out;
    left: 0px;
}

.img-card {
    background-image: url('html-card.png');
    background-position: 50% 35%;
    background-color: grey;
    background-size: 295px;
    height:300px;
    width:100%;
}

.card {
    margin: 0px 10px 0px 10px;
}

